<!--
Necesito mostrar los siguientes datos
* El tipo de documento
* El numero de documento
* Los nombres, apellidos paternos y maternos
* Email
* Nombre de la persona juridica representada, en caso de serlo.
* Motivo del Reclamo
* Trataron de darle solución al reclamo
* Lugar donde ocurrio la situación.
  * Tipo de Lugar
  * Lugar de Ocurrencia
* Fecha y Hora de Ejecución.
* Descripción del Evento
* Nombre de los archivos enviados.
-->
<div class="py-3 lg:px-8">
  <div class="font-medium text-3xl text-900 mb-3">Resumen de su Reclamo</div>
  <div class="font-medium text-1xl text-600 mb-3">A continuación le mostramos el resumen de su reclamo, revise y pulse en continuar para proceder con su registro</div>
</div>
<p-panel header="Datos del ciudadano" [toggleable]="true">
    <div class="row">
      <div class="col-12 col-md-12">
        <em class="pi pi-user"></em>
        <label><strong>&nbsp;&nbsp;&nbsp;Nombres y Apellidos:</strong> </label><br>
        <p class="m-0">
          {{ nombreCompleto }}
        </p>
      </div>

      <div class="col-12 col-md-4">
        <em class="pi pi-id-card"></em>
        <label><strong>&nbsp;&nbsp;&nbsp;Tipo Documento</strong> </label>
        <p class="m-0">
          {{ tipoDocumento }}
        </p>
      </div>

      <div class="col-12 col-md-4">
        <em class="pi pi-sort-numeric-down-alt"></em>
        <label><strong>&nbsp;&nbsp;&nbsp;Numero Documento</strong> </label>
        <p class="m-0">
          {{ numeroDocumento }}
        </p>
      </div>


      <div class="col-12 col-md-4">
        <em class="pi pi-envelope"></em>
        <label><strong>&nbsp;&nbsp;&nbsp;Email</strong> </label>
        <p class="m-0">
          {{ email }}
        </p>
      </div>

      <div class="col-12 col-md-8">
        <em class="pi pi-home"></em>
        <label><strong>&nbsp;&nbsp;&nbsp;Domicilio:</strong> </label>
        <p class="m-0">
          {{ domicilio }}
        </p>
      </div>

      <div class="col-12 col-md-4">
        <em class="pi pi-phone"></em>
        <label><strong>&nbsp;&nbsp;&nbsp;Telefono:</strong> </label>
        <p class="m-0">
          {{ telefono }}
        </p>
      </div>

    </div>
</p-panel>


<p-panel header="Representación Jurídica" [hidden]="empresa == null" [toggleable]="true">
  <div class="row">
    <div class="col-12 col-md-4">
      <em class="pi pi-wallet"></em>
      <label><strong>&nbsp;&nbsp;&nbsp;RUC:</strong> </label>
      <p class="m-0">
        {{ ruc }}
      </p>
    </div>

    <div class="col-12 col-md-8">
      <em class="pi pi-cog"></em>
      <label><strong>&nbsp;&nbsp;&nbsp;Entidad o Empres:</strong> </label>
      <p class="m-0">
        {{ empresa }}
      </p>
    </div>
  </div>
</p-panel>

<p-panel header="Detalle del Reclamo" [toggleable]="true">
  <div class="row">
    <div class="col-12 col-md-12">
      <em class="pi pi-user-edit"></em>
      <label><strong>&nbsp;&nbsp;&nbsp;Motivo del Reclamo - ({{ motivoCabecera}})</strong> </label>
      <p class="m-0">
        {{ motivoSeleccionado }}
      </p>
    </div>

    <div class="col-12 col-md-4">
      <em class="pi pi-comments"></em>
      <label><strong>&nbsp;&nbsp;&nbsp;Intentaron Solucionar:</strong> </label>
      <p class="m-0">
        {{ trataron }}
      </p>
    </div>


    <div class="col-12 col-md-4">
      <em class="pi pi-map"></em>
      <label><strong>&nbsp;&nbsp;&nbsp;Tipo Lugar:</strong> </label>
      <p class="m-0">
        {{ tipoLugar }}
      </p>
    </div>


    <div class="col-12 col-md-4">
      <em class="pi pi-reply"></em>
      <label><strong>&nbsp;&nbsp;&nbsp;Lugar:</strong> </label>
      <p class="m-0">
        {{ lugar }}
      </p>
    </div>

    <div class="col-12 col-md-4">
      <em class="pi pi-calendar"></em>
      <label><strong>&nbsp;&nbsp;&nbsp;Fecha Hora:</strong> </label>
      <p class="m-0">
        {{ fecha | date:'dd/MM/yyyy' }}  -  {{ hora | date:'HH:mm' }}
      </p>
    </div>

    <div class="col-12 col-md-12">
      <em class="pi pi-book"></em>
      <label><strong>&nbsp;&nbsp;&nbsp;Descripción:</strong> </label>
      <div class="m-0" [innerHTML]="descripcion"></div>
    </div>


  </div>
</p-panel>



