<div class="py-3 lg:px-8">
  <div class="font-medium text-3xl text-900 mb-3">Ingrese su reclamo</div>
  <div class="font-medium text-1xl text-600 mb-3">Lamentamos el malestar generado, para darte una respuesta oportuna por
    favor completa la siguiente información:</div>
  <ul class="list-none m-0 p-0 flex flex-column md:flex-row">
    <li class="relative mr-0 flex-1 flex justify-content-center">
      <div [ngClass]="paso >=1 ? 'border-2 border-blue-500' : 'border-1  surface-border'"
        class="w-full md:mr-6 surface-card border-round p-3 flex flex-column md:flex-row align-items-center z-1">
        <i class="pi pi-user text-blue-500 text-2xl md:text-4xl mb-2 md:mb-0 mr-0 md:mr-3"></i>
        <div>
          <div class="text-blue-600 font-medium mb-1">Datos Personales</div>
          <span class="text-600 text-sm hidden md:block">Paso 1</span>
        </div>
      </div>
      <div class="w-full absolute top-50 left-50 surface-300 hidden md:block"
        style="transform: translateY(-50%); height: 2px;"></div>
    </li>

    <li class=" relative mr-0 flex-1 flex  justify-content-center">
      <div [ngClass]="paso >=2 ? 'border-2 border-blue-500' : 'border-1  surface-border'"
        class="w-full  md:mx-3  surface-card border-round p-3 flex flex-column md:flex-row align-items-center z-1">
        <i  [ngClass]="paso2Seleccionado"></i>
        <div>
          <div class="text-900 font-medium mb-1">Situación del reclamo</div>
          <span class="text-600 text-sm hidden md:block">Paso 2</span>
        </div>
      </div>
      <div class="w-full absolute top-50 left-50 surface-300 hidden md:block"
        style="transform: translateY(-50%); height: 2px;"></div>
    </li>

    <li class=" relative mr-0 flex-1 flex justify-content-center ">
      <div [ngClass]="paso ==3 ? 'border-2 border-blue-500' : 'border-1  surface-border'"
        class="w-full  md:ml-6 surface-card border-round p-3 flex flex-column md:flex-row align-items-center z-1">
        <i [ngClass]="paso3Seleccionado"></i>
        <div>
          <div class="text-900 font-medium mb-1">Clasificación del reclamo</div>
          <span class="text-600 text-sm hidden md:block">Paso 3</span>
        </div>
      </div>
    </li>


  </ul>
</div>


<div class="block-section">
  <div class="block-header">
    <span class="block-title">
      <h3 class="t-busqueda">Detalle de la situación del reclamo</h3>
    </span>
    <div class="block-actions text-900">
      <p-badge [value]="'Paso '+paso" severity="success"></p-badge>

    </div>
  </div>
  <div class="block-content">
    <div class="ng-star-inserted">
      <div class="surface-section px-4 py-4 md:px-6 lg:px-8">

        <div class="row">
          <div *ngIf="paso == 1" class="grid">

            <div class="col-12"> <strong class="">1. Identificación</strong>
              <div class="mt-2">Ingrese los datos solicitados igual como aparece en su documento de identidad.</div>
            </div>
            <div class="col-12">
              <app-valida-documento></app-valida-documento>
            </div>

            <div class="col-12">
              <p-divider></p-divider>
            </div>

            <div class="col-12 mt-3"> <strong class="">2. Email del ciudadano </strong>
              <div class="mt-2">Ingrese su email para su validación.</div>
            </div>
            <div class="col-12 col-md-6" >
              <span class="p-float-label">
                <input pInputText id="email" type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" class="p-inputtext-sm w-full" [(ngModel)]="email" />
                <label for="float-label1">Email</label>
              </span>
            </div>
            <div class="col-12 col-md-6" >
              <span class="p-float-label">
                <input pInputText id="email" type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" class="p-inputtext-sm w-full" [(ngModel)]="repitaEmail" />
                <label for="float-label1">Repita su email</label>
              </span>
            </div>
            <div class="col-12 col-md-6">
              <p-button icon="pi pi-envelope" pRibbon label="Enviar Código" styleClass="p-button-danger" *ngIf="verBotonCorreo" 
                  (onClick)="validarCorreo()" ></p-button>                                
              <span class="p-float-label" *ngIf="!verBotonCorreo">
                    <input pInputText id="domicilio" class="p-inputtext-sm w-full" [(ngModel)]="numeroCorreo" maxlength="6" (pTooltip)="'El código que se envio por email'" />
                    <label for="float-label1">Numero Validación</label>
              </span>
              <span class="p-float-label">
                
                  <div class="mt-2">Se enviará un código de seis (6) dígitos a su correo (revise en su carpeta spam).</div> 
                
              </span>
            </div>
        

            <div class="col-12 mt-3"> <strong class="">3. Persona Jurídica (opcional) </strong>
              <div class="mt-2">Selecciona si el reclamo es en representación de una entidad o empresa.</div>
            </div>
            <div class="col-12 px-3 ">
              <div class="field-checkbox mt-3">
                <p-checkbox label="Represento una entidad o empresa" [binary]="true" [(ngModel)]="esEntidad">
                </p-checkbox>
              </div>
            </div>


            <div class="col-12" *ngIf="esEntidad">
              <div class="row">
                <div class="col-12 col-md-6 ">
                  <span class="p-float-label">
                    <input pInputText id="ruc" class="p-inputtext-sm w-full" [(ngModel)]="ruc" maxlength="11" [pKeyFilter]="'int'" [disabled]="rucDeshabilitado" />
                    <label for="float-label1">RUC</label>
                  </span>
                  <small id="username-help" style="text-align: right;">0/11</small>
                </div>

                <div class="col-12 col-md-6">
                  <p-button pRibbon label="Obtener Empresa" styleClass="p-button-danger" icon="pi pi-home"
                    (onClick)="obtenerEmpresa($event)"></p-button>
                </div>

                <div class="col-12 col-md-12">
                  <span class="p-float-label">
                    <input pInputText id="nombreEntidad" class="p-inputtext-sm w-full" disabled="true"
                      [(ngModel)]="entidad" />
                    <label for="float-label1">Nombre Empresa o Entidad</label>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-12">
              <p-divider></p-divider>
            </div>
            

            <div class="col-12 px-3 ">
              <div class="field-checkbox mt-3">
                <p-checkbox [binary]="true" (onChange)="aceptoLicencia()"></p-checkbox>
                <label [for]="'read'">Acepto la <a (click)="showDialog()"  class="text-primary">política de privacidad</a></label>
              </div>
            </div>
            
            <p-dialog header="Politicas de Manejo de Datos" [(visible)]="visible" [style]="{width: '50vw'}">
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
          </p-dialog>
            
          </div>

          <div *ngIf="paso == 2" class="grid">

            <div class="col-12"> <strong class="">1. Identifica y selecciona los motivos del reclamo. </strong>
              <div class="mt-2">Seleccione el motivo que representa el motivo de su reclamo.</div>
            </div>
            <div class="col-12 px-3 ">
              <ul>
                <li *ngFor="let motivo of motivos">                   
                  <div class="flex align-items-center">
                    <p-radioButton name="motivoSel" [value]="motivo.id" [(ngModel)]="motivoSeleccionado" [inputId]="motivo.id"></p-radioButton>
                    <label [for]="motivo.id" class="ml-2"><strong>{{motivo.cabecera}}</strong><br>{{ motivo.detalle }}</label>                    
                  </div>                  
                  <br>
                </li>                
              </ul>
            </div>

            

            <div class="col-12"> <strong class="">2. ¿Trataron de darte una solución previa al registro del
                reclamo?</strong></div>
            <div class="col-12 px-3 ">

              <div class="flex flex-row gap-3">
                <div class="card flex justify-content-center">
                  <p-selectButton [options]="stateOptions" [(ngModel)]="value" optionLabel="label" optionValue="value" class="ng-invalid ng-dirty"></p-selectButton>
                </div>
              </div>
            </div>

          </div>


          <div *ngIf="paso == 3" class="grid">
            <div class="col-12"> <strong class="">1. ¿Donde ocurrió la situación que origina el reclamo?</strong></div>
            <div class="col-12 col-md-6">
              <span class="p-float-label">
                <p-dropdown pRipple [options]="situaciones" [(ngModel)]="situacioSelect" class="p-inputtext-sm"
                  styleClass="w-full" placeholder="Seleccione" optionLabel="nombre" inputId="float-label1"></p-dropdown>
                <label for="float-label1">Tipo del lugar</label>
              </span>
            </div>
            <div class="col-12 col-md-6">
              <span class="p-float-label" *ngIf="situacioSelect?.id == '1'">
                <p-dropdown pRipple [options]="edificios" [(ngModel)]="edifSelec" class="p-inputtext-sm"
                  styleClass="w-full" placeholder="Seleccione" optionLabel="nombre" inputId="float-label1"></p-dropdown>
                <label for="float-label1">Lugar de ocurrencia</label>
              </span>
              <span class="p-float-label" *ngIf="situacioSelect?.id == '2'">
                <input pInputText id="sistema_nombre" class="p-inputtext-sm w-full" />
                <label htmlFor="Ingrese Url del sitio web o nombre del sistema">Ingrese Url del sitio web o nombre del
                  sistema</label>
              </span>
            </div>

            <div class="col-12 mt-2"> <strong class="">2. ¿Cuándo ocurrió la situación que origina el presente
                reclamo?</strong></div>
            <div class="col-12 col-md-6">
              <span class="p-float-label">
                <p-calendar [(ngModel)]="date" styleClass="p-inputtext-sm w-full"></p-calendar>
                <label htmlFor="Fecha">Fecha del suceso</label>
              </span>
            </div>
            <div class="col-12 col-md-6">
              <span class="p-float-label">
                <p-calendar [(ngModel)]="date" [timeOnly]="true" styleClass="p-inputtext-sm w-full"></p-calendar>
                <label htmlFor="Hora aproximada">Hora aproximada</label>
              </span>
            </div>

            <div class="col-12 mt-2">
              <strong class="">3. Descríbenos ¿qué sucedió?</strong>
              <div class="mt-2">Detalla cuál fue el problema que ocasionó que presentes este reclamo de la manera más
                detallada posible.</div>
            </div>
            <div class="col-12">
              <p-editor [(ngModel)]="text" [style]="{ height: '150px' }"></p-editor>
            </div>


            <div class="col-12 mt-2">
              <strong class="">4. Adjuntar archivos (opcional)</strong>
              <div class="mt-2">Puedes subir un máximo de <b>20 MB</b> por fotos, videos y/o textos que ayuden a
                evidenciar tu reclamo.</div>
            </div>
            <div class="col-12">



              <p-fileUpload url="https://www.primefaces.org/cdn/api/upload.php" cancelLabel="Cancelar"
                chooseLabel="Seleccionar archivos" uploadLabel="Subir" [multiple]="true" accept="image/*"
                [maxFileSize]="1000000">
                <ng-template pTemplate="toolbar">
                  <div class="py-3">Selecciones archivos</div>
                </ng-template>
                <ng-template let-file pTemplate="file">
                  <ul *ngIf="file.length">
                    <li *ngFor="let f of file">{{ f.name }} - {{ f.size }} bytes</li>
                  </ul>
                </ng-template>
                <ng-template pTemplate="content" let-files>
                  <div>* Solo se permite hasta un máximo de 10 archivos.</div>
                </ng-template>
              </p-fileUpload>
            </div>
          </div>

          <div class="col-12">
            <div class="flex justify-content-between flex-wrap ">
              <p-button label="Anterior" (click)="clickAnterior()" styleClass="p-button-primary"
                class="flex align-items-center justify-content-center" [disabled]="paso <= 1"></p-button>
              <p-button label="Siguiente" (click)="clickSiguiente()" styleClass="p-button-primary" [disabled]="siguiente"
                class="flex align-items-center justify-content-center"></p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>